/* ----- Import + General CSS ----- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    color: white;
    overflow-x: hidden;
    user-select: none;
    background: linear-gradient(180deg, rgba(132, 167, 161, 1) 0%, rgba(46, 138, 153, 1) 35%, rgba(31, 110, 140, 1) 65%, rgba(14, 41, 84, 1) 100%);
}

h3,
h4 {
    margin: 8rem 0 2rem 0;
    text-align: center;
    z-index: 1;
}

h3 {
    font-size: 6rem;
}

/* ----- Media query h3 ----- */

@media (max-width: 705px) {
    h3 {
        font-size: 4rem;
        margin:  3rem 0 2rem 0;
    }

    /* h3 Mes Projets */
    .h3v {
        margin:  5rem 0 2rem 0;
    }
}

/* ----- ----------- ----- */



/* ----- Animation On Scroll CSS ----- */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/* ----- Animations ----- */


@keyframes slide-left-animate {
    from {
        transform: translate(-100%);

    }
    to {
        transform: translate(0%);
    }
}
.slide-left {
    animation: slide-left-animate 1s;
    opacity: 1;
    filter: blur(0);
}

@keyframes slide-right-animate {
    from {
        transform: translate(100%);

    }
    to {
        transform: translate(0%);
    }
}
.slide-right {
    animation: slide-right-animate 1s;
    opacity: 1;
    filter: blur(0);
}

@keyframes slide-up-animate {
    from {
        transform: translateY(-100%);

    }
    to {
        transform: translate(0%);
    }
}
.slide-up {
    animation: slide-up-animate 1s;
    opacity: 1;
    filter: blur(0);
}

@keyframes slide-down-animate {
    from {
        transform: translateY(100%);

    }
    to {
        transform: translate(0%);
    }
}
.slide-down {
    animation: slide-down-animate 1s;
    opacity: 1;
    filter: blur(0);
}

/* ----- ----------- ----- */



/*----- Scrollbar CSS -----*/

::-webkit-scrollbar {
    width: 12px;
    background: #4f4f4f;
}

::-webkit-scrollbar-thumb {
    background: #c3c3c3;
}

/* ----- ----------- ----- */



/*----- General CSS Blocks -----*/

.block-start {
    height: 100vh;
}

.block-1,
.block-2,
.block-3 {
    height: 100%;
}

.block-end,
.footer-info {
    height: 50vh;
}

/* ----- ----------- ----- */



/* ----- CSS Waves ----- */

.wave1 {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave1 svg {
    position: relative;
    display: block;
    width: calc(141% + 1.3px);
    height: 248px;
}

.wave1 .shape-fill {
    fill: #84B3AB;
}

.wave2 {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 90px;
}

.wave2 .shape-fill {
    fill: #5a9fa2;
}

.wave3 {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave3 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 124px;
    transform: rotateY(180deg);
}

.wave3 .shape-fill {
    fill: #174d71;
}

/* ----- ----------- ----- */



/* -----  CSS Block-Start ----- */

.block-start {
    display: flex;
    flex-direction: column;
    background: #84B3AB;
}

.block-start div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.block-start h1,
.block-start h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* ----- CSS NavBar ----- */

.navbar {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navbar img {
    height: 50px;
    padding: 0 1.5rem;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    padding: 2rem;
}

.navbar li:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 900;
}

/* ----- Media query NavBar ----- */

@media (max-width: 1460px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul {
        flex-direction: column;
        text-align: center;
    }

    .navbar li {
        padding: 1rem;
    }
}

@media (max-width: 705px) {
    .navbar img {
        height: 30px;
        padding: 0 1rem;
    }

    .navbar li {
        padding: 1rem;
    }

    .navbar a {
        font-size: 1.5rem;
    }
}

/* ----- Animation Elements Navbar ----- */

.navbar ul li:nth-child(2) {
    transition-delay: 100ms;
}

.navbar ul li:nth-child(3) {
    transition-delay: 200ms;
}

.navbar ul li:nth-child(4) {
    transition-delay: 300ms;
}

.navbar ul li:nth-child(5) {
    transition-delay: 400ms;
}

/* ----- Logo SVG ----- */

h1 path,
h2 path {
    animation: line-animation 2s ease forwards;
}

/* ----- Mon Portfilio ----- */

h1 path:nth-child(2) {
    stroke-dasharray: 545;
    stroke-dashoffset: 545;
}

h1 path:nth-child(4) {
    stroke-dasharray: 305;
    stroke-dashoffset: 305;
}

h1 path:nth-child(5) {
    stroke-dasharray: 245;
    stroke-dashoffset: 245;
}

h1 path:nth-child(8) {
    stroke-dasharray: 235;
    stroke-dashoffset: 235;
}

h1 path:nth-child(9) {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
}

h1 path:nth-child(11) {
    stroke-dasharray: 195;
    stroke-dashoffset: 195;
}

h1 path:nth-child(12) {
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
}

h1 path:nth-child(3),
h1 path:nth-child(6),
h1 path:nth-child(7),
h1 path:nth-child(10),
h1 path:nth-child(13) {
    stroke-dasharray: 180;
    stroke-dashoffset: 180;
}

/* ----- Johan Labbe ----- */

h2 path:nth-child(2) {
    stroke-dasharray: 160;
    stroke-dashoffset: 160;

}

h2 path:nth-child(3) {
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
}

h2 path:nth-child(4) {
    stroke-dasharray: 240;
    stroke-dashoffset: 240;
}

h2 path:nth-child(6) {
    stroke-dasharray: 215;
    stroke-dashoffset: 215;
}

h2 path:nth-child(7) {
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
}

h2 path:nth-child(11) {
    stroke-dasharray: 195;
    stroke-dashoffset: 195;
}

h2 path:nth-child(5),
h2 path:nth-child(8) {
    stroke-dasharray: 165;
    stroke-dashoffset: 165;
}

h2 path:nth-child(9),
h2 path:nth-child(10) {
    stroke-dasharray: 190;
    stroke-dashoffset: 190;
}

@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}

/* ----- ----------- ----- */



/* ----- CSS Block-1 ----- */

.block-1 {
    display: flex;
    padding: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5a9fa2;
}

.block-1 section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-1 section p {
    text-align: justify;
    font-size: 2rem;
    margin: 2%;
    width: 60%;
}

@media (max-width: 705px) {
    .block-1 {
        padding: 6rem 4rem 0 4rem;
    }

    .block-1 section p {
        width: 100%;
    }
}



/* ----- Animation Elements Block-1 ----- */

.block-1 section div {
    transition-delay: 100ms;
}

.block-1 section p {
    transition-delay: 200ms;
}

/* ----- CSS Image Wrapper ----- */

.image-wrapper {
    margin: 2%;
}

.image-wrapper img {
    filter: grayscale(0.5);
    border-radius: 2rem;
    max-width: 100%;
    height: auto;
}

/* ----- Media Queries Block-1 ----- */

@media (max-width: 1585px) {
    .block-1 section {
        flex-direction: column;
    }

    .image-wrapper {
        margin: 0 5%;
    }
}

@media (max-width: 460px) {
    .block-1 section p {
        font-size: 1.15rem;
        width: 85%;
    }


}

/* ----- ----------- ----- */



/* ----- CSS Block-2 ----- */

.block-2 {
    display: flex;
    flex-direction: column;
    background: #1f6e8c;
    background: linear-gradient(180deg, #1f6e8c 50%, #174d71 100%) ;
}

/* ----- card Element Container ----- */

.card-element-container {
    display: grid;
    justify-items: center;
    margin: 2rem 2rem 6rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
}

.box {
    margin: 2rem;
    border-radius: 2rem;
    box-shadow: inset 5px 5px 5px #1a5e77,
        inset -5px -5px 5px #247fa1,
        5px 5px 5px #1a5e77,
        -5px -5px 5px #247fa1;
}

/* ----- card Elements ----- */

.card-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 2rem;
    height: 550px;
    width: 400px;
    background-color: rgb(31, 110, 140);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
}

.card-element:nth-child(3) {
    animation-delay: 200ms;
}

.card-element:nth-child(5) {
    animation-delay: 400ms;
}

.card-element img {
    display: none;
    z-index: -1;
}

.card-element h2 {
    position: absolute;
    top: -0.75rem;
    right: 2rem;
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.15);
    transition: 0.5s;
}

.card-element:hover h2 {
    color: rgba(255, 255, 255, 0.25);
}

.card-element h3 {
    font-size: 1.65rem;
    margin: 2rem;
    color: white;
    transition: 0.5s;
}

.card-element:hover h3 {
    font-size: 2rem;
    transition: 0.5s;
}

.card-element:hover {
    background-color: rgb(132, 179, 171);
    transform: translateY(-15%);
}

.card-element:hover button {
    background-color: rgb(31, 110, 140);
    transition: 0.5s;
}

.card-element button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    background-color: #84b3ab;
    padding: 1.25rem;
    margin: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: white;
    border: none;
    text-decoration: none;
    font-weight: 600;
    border-radius: 1rem;
    cursor: pointer;
}

@keyframes blur {
    to {
        filter: blur(0);
    }
}

/* ----- Media query Card Element ----- */

@media (max-width: 705px) {
    .card-element-container,
    .card-element,
    .box {
        display: none;
    }
}

/* ----- CSS Popover ----- */

.popover {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: white;
    border: none;
    margin: auto;
    padding: 2rem;
    width: 65%;
    border-radius: 2rem;
    background: rgba(132, 179, 171, 0.70);
    border-radius: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.5), 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.5), 5px 5px 15px 5px rgba(0,0,0,0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.popover section {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popover h4 {
    margin: 2rem;
}

.popover-img img {
    border-radius: 1rem;
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.popover-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popover-title h4 {
    font-size: 4rem;
    margin: 2rem;
}

.popover a {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 1.25rem;
    margin: 1rem;
    font-size: 1.5rem;
    background: rgba(207, 207, 207, 0.15);
    border-radius: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.5), 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.5), 5px 5px 15px 5px rgba(0,0,0,0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.popover-btn a {
    -webkit-box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.5), 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.5), 5px 5px 15px 5px rgba(0,0,0,0);
}

.popover::content {
    visibility: visible;
}

.popover p {
    text-align: justify;
    margin: 2rem;
}

#popover1::backdrop,
#popover2::backdrop,
#popover3::backdrop {
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
}

#popover1,
#popover2,
#popover3 {
    visibility: hidden;

    &:popover-open {
        visibility: visible;
        animation: slide 500ms ease-out;
    }
}

@keyframes slide {
    from {
        visibility: hidden;
        transform: translateY(2rem);
    }

    to {
        visibility: visible;
        transform: translateY(0rem);
    }
}

/* ----- CSS Popover Bar ----- */

.popover-info h4 {
    font-size: 2.5rem;
}

.popover-info h5 {
    margin: 1rem;
}

/* ----- SVG Circles CSS ----- */

circle {
    fill: none;
}

.language-used {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }

.language-used section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.language-used svg {
    transform: rotate(-90deg);
}

.language-used div:nth-child(1) circle:nth-child(1),
.language-used div:nth-child(2) circle:nth-child(1),
.language-used div:nth-child(3) circle:nth-child(1),
.language-used div:nth-child(4) circle:nth-child(1) {
    stroke: #2e2e2e;
    stroke-width: 1rem;
}

.language-used div:nth-child(1) circle:nth-child(2),
.language-used div:nth-child(2) circle:nth-child(2),
.language-used div:nth-child(3) circle:nth-child(2),
.language-used div:nth-child(4) circle:nth-child(2) {
    stroke-dasharray: 535;
    stroke-width: 1rem;
    stroke-linecap: round;
    animation: progress 2s ease;
}

.language-used div:nth-child(1) circle:nth-child(2) {
    stroke: #1ed0dd;
    stroke-dashoffset: calc(535 - (535 * 70.7) / 100);
}

.language-used div:nth-child(2) circle:nth-child(2) {
    stroke: #178fdf;
    stroke-dashoffset: calc(535 - (535 * 26.4) / 100);
}

.language-used div:nth-child(3) circle:nth-child(2) {
    stroke: #1eddbd;
    stroke-dashoffset: calc(535 - (535 * 2.9) / 100);
}

.language-used div:nth-child(4) circle:nth-child(2) {
    stroke: #18af64;
    stroke-dashoffset: calc(535 - (535 * 2.9) / 100);
}

@keyframes progress {
    from {
        stroke-dashoffset: 535;
    }
}

.language-used div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    margin: 1rem;
    background: rgba(207, 207, 207, 0.15);
    border-radius: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.5), 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.5), 5px 5px 15px 5px rgba(0,0,0,0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.language-used span {
    position: absolute;
    top: 52%;
    font-size: 2.5rem;
    font-weight: 900;
}

/* ----- ----------- ----- */



/* ----- CSS Block-3 ----- */

.block-3 {
    display: flex;
    padding: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #174d71;
}

.block-3 p,
.block-3 li {
    font-size: 2rem;
    margin: 2rem 0;
}

.block-3 h4 {
    margin: 2rem;
}

/* ----- Skill Container ----- */

.skill-container {
    display: flex;
}

.skill-container div {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #1f6e8c;
    background-color: #0e2954;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: 0.5s;

}

.skill-container div:hover {
    background-color: #1f6e8c;
    transform: translateY(-5%);
    transition: 0.5s;
}

/* ----- Animations Skill Container ----- */

.skill-container div:nth-child(1) li:nth-child(2) {
    transition-delay: 100ms;
    animation-delay: 100ms;
}

.skill-container div:nth-child(1) li:nth-child(3) {
    transition-delay: 200ms;
    animation-delay: 200ms;

}

.skill-container div:nth-child(1) li:nth-child(4) {
    transition-delay: 300ms;
    animation-delay: 300ms;

}

.skill-container div:nth-child(2) li:nth-child(2) {
    transition-delay: 100ms;
    animation-delay: 100ms;

}

.skill-container div:nth-child(2) li:nth-child(3) {
    transition-delay: 200ms;
    animation-delay: 200ms;

}

/* ----- Media query Skill Container ----- */

@media (max-width: 1200px) {
    .skill-container {
        flex-direction: column;
    }
}

/* ----- ----------- ----- */



/* ----- CSS Block-End ----- */

.block-end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0e2954;
}

.block-end ul {
    display: flex;
    flex-direction: row;
}

.block-end li {
    display: flex;
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background: #174d71;
    cursor: pointer;
}

.block-end li:hover {
    background: rgb(31, 110, 140);
}

.block-end a {
    display: flex;
}

.block-end img {
    height: 4rem;
}

.block-end p {
    font-size: 2rem;
}

/* ----- ----------- ----- */



/* ----- CSS Footer-Info ----- */

.footer-info {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #0e2954;
}

.footer-info p {
    font-size: 2rem;
    margin: 2rem;
}

.footer-info p:nth-child(3) {
    font-size: 1rem;
    font-weight: 600;
}

.footer-info div:nth-child(4) {
    background-color: #fff;
    font-size: 2rem;
}

.footer-info div div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: min-content;
    margin: 2rem auto;
    text-align: center;
    border: none;
    border-radius: 1rem;
    background: #174d71;
}

.footer-info button,
.footer-info input {
    display: flex;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-radius: 1rem;
    background: transparent;
}

.footer-info button {
    background: #1f6e8c;
}

.footer-info button {
    cursor: pointer;
}

.footer-info a {
    text-decoration: none;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    outline: none;
}

.footer-info img {
    width: 2rem;
}

/* ----- Copy text CSS ----- */

.copy-text {
    position: relative;
    background-color: #fff;
}

.copy-text button::before {
    width: 100%;
    content: "Copier !";
    color: white;
    position: absolute;
    top: -60px;
    right: -16px;
    padding: 1rem;
    background: #1f6e8c;
    border-radius: 1rem;
    display: none;
}

.copy-text button::after {
    content: "";
    position: absolute;
    top: -17px;
    right: 26px;
    width: 10px;
    height: 10px;
    background-color: #1f6e8c;
    transform: rotate(45deg);
    display: none;
}

.copy-text.active button::before,
.copy-text.active button::after {
    animation: 1s;
    display: block;
}

/* ----- ----------- ----- */



/* ----- SrollTop CSS ----- */

#scrolltop {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 1rem;
    right: 1rem;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 2rem;
    box-shadow: 0px 10px 13px -7px #000000;
    background-color: rgb(132, 179, 171);
    cursor: pointer;
    z-index: 1;
}

/* ----- ----------- ----- */
